{% extends 'base.html' %}
{% block content%}

<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    </div class="row justify-content-center mt-1">
        <div class="col-sm-12 offset-md-1 p-4 text-center">
            <p>fmisodfnsionwljfbueifbdfbuaipfbweiufaufhbluiodwgfhdsfhgvdshifbsdfhdbdjs</p>
            <p>fjwiohfdijskalfuiobdslfwuiegwbildsiuafewfbiuadgfuisdbjfkasdfsdfsdfsd</p>
            <p>fjshfoiwhfewufbusygfshfbsydgfhdijdsfg7goidsjsjhfyusguwohfsdjgfidsygfidsufhdsugfiywhbweuf</p>
            <button class="btn-btn-outline-primary">Order Now!</button>
        </div>
    </div>
</div>

{% endblock %}